/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    color: #333; /* Set default text color to a darker shade */
}

/* Set futuristic fonts and colors */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Use Roboto Light for a sleek look */
    background-color: #111; /* Dark futuristic background color */
    background-image: url('images/bg.jpg'); /* Add your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    line-height: 1.6; /* Improve line spacing for better readability */
}

/* Header Section */
#header {
    text-align: center;
    padding: 100px 0;
}

#header h1 {
    font-size: 3rem;
    color: #fff; /* White header text */
}

#header p {
    font-size: 1.2rem;
    color: #ccc; /* Light gray text color for subtext */
}

/* Navigation */
#nav {
    background-color: transparent;
    text-align: center;
    padding: 20px 0;
}

#nav ul {
    list-style: none;
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Horizontally center the list items */
    align-items: center; /* Vertically center the list items */
    padding: 0; /* Remove the default padding */
}

#nav li {
    margin: 0 15px; /* Adjust the margin to fine-tune the alignment */
}

#nav a {
    color: #fff; /* Set the font color to white */
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

#nav a:hover {
    color: #ccc; /* Slight gray color on hover */
    text-decoration: underline; /* Underline on hover */
}

/* Center elements horizontally */
.container {
    max-width: 800px;
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
    padding: 80px 0;
}

.container h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #fff; /* Set font color to white */
}

.container p {
    font-size: 1.2rem;
    color: #ccc; /* Light gray text color */
}

/* Footer */
#footer {
    background-color: transparent; /* Make the background color transparent */
    padding: 20px 0;
    text-align: center;
}

#footer p {
    font-size: 1rem;
    color: #ccc; /* Light gray text color */
}

/* Project Images */
.project-image img {
    max-width: 100%; /* Ensure images don't overflow their containers */
    height: auto; /* Maintain image aspect ratio */
    display: block; /* Center the images horizontally */
    margin: 0 auto;
}
