/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    color: #fff; /* Set default text color to white */
}

/* Set futuristic fonts and colors */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Use Roboto Light for a sleek look */
    background-color: #111; /* Dark futuristic background color */
    background-image: url('background.jpg'); /* Add your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Header Section */
#header {
    text-align: center;
    padding: 100px 0;
}

#header h1 {
    font-size: 3rem;
}

#header p {
    font-size: 1.2rem;
}

/* Navigation */
#nav {
    background-color: transparent;
    text-align: center;
    padding: 20px 0;
}

#nav ul {
    list-style: none;
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Horizontally center the list items */
    align-items: center; /* Vertically center the list items */
    padding: 0; /* Remove the default padding */
}

#nav li {
    margin: 0 15px; /* Adjust the margin to fine-tune the alignment */
}

#nav a {
    color: #fff; /* Set the font color to white */
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

#nav a:hover {
    color: #fff; /* Keep font color white on hover */
}

/* Center elements horizontally */
.container {
    max-width: 800px;
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
    padding: 80px 0;
}

.container h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #fff; /* Set font color to white */
}

.container p {
    font-size: 1.2rem;
    color: #fff; /* Set font color to white */
}

/* Footer */
#footer {
    text-align: center;
    padding: 20px 0;
    background-color: #222; /* Slightly darker background for the footer */
}

#footer p {
    font-size: 1rem;
    color: #ccc;
}

/* Subheadings */
.subheading {
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #fff; /* Set font color to white */
    transition: color 0.3s;
}

.subheading:hover {
    color: #ccc; /* Slight gray color on hover */
}

/* Project Lists Animation (initially hidden) */
.project-list {
    display: none;
    background-color: rgba(0, 0, 0, 0.7); /* Initial transparent background */
    border: 1px solid #fff; /* Set border color to white */
    padding: 20px;
    margin-top: 10px;
    max-width: 500px;
    margin: 0 auto;
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    z-index: -1; /* Place behind other content */
    transition: opacity 0.3s, z-index 0s 0.3s; /* Transition opacity with delay for smooth effect */
}

.project-list p {
    color: #fff; /* Set font color to white */
    font-size: 1.2rem;
}
